<!DOCTYPE html>
<html lang='zh-TW'>

<head>
  <meta charset="UTF-8">
  <title >監控網站</title>

  <script type="text/javascript" src="/static/index.js"></script>

</head>

<body>
    
    <input type = 'button'  onclick="control('light:100')" value="電燈關"></input>
    <input type = 'button'  onclick="control('light:101')" value="電燈開"></input>
    <input type = 'button'  onclick="control('fan:0')" value="風扇關"></input>
    <input type = 'button'  onclick="control('fan:1')" value="風扇開"></input>
    <input type = 'button'  onclick="control('light:111')" value="電磁閥關"></input>
    <input type = 'button'  onclick="control('light:110')" value="電磁閥關"></input>
    <input type = 'button'  onclick="jump()" value="home"></input>

</body>

</html>