<!DOCTYPE html>
<html lang='zh-TW'>

<head>
  <meta charset="UTF-8">
  <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <META HTTP-EQUIV="EXPIRES" CONTENT="0">
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <title >監控網站</title>

  <script type="text/javascript" src="/static/get_new_data.js"></script>
  <script type="text/javascript" src="/static/index.js"></script>

</head>

<body>
    <div id='newdataTable'></div>
    <input type = 'button'  onclick="get_newest()" value="Click me."></input>
    <input type = 'button'  onclick="jump()" value="回首頁"></input>
</body>

</html>