<!DOCTYPE html>
<html lang='zh-TW'>

<head>
  <meta charset="UTF-8">
  <title >監控網站</title>
  <link rel="stylesheet" href="/static/index.css">
  <script type="text/javascript" src="/static/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script language="javascript">
    function myFunction() {
    
    //alert('即將跳轉頁面');
    window.location.replace("/home");
      
  }
  </script>
</head>

<body>
  <div id="index">
    <div id="title">
      <p>物聯網</p>
      <p>監控網站</p>
    </div>
    <br>
    <div id="buttons">
      <input type = 'button'  class="button" onclick="myFunction()" value="即時狀態"></input>
      <input type = 'button'  class="button" onclick="jump2()" value="操控"></input>
    <div>
  </div>
    
</body>

</html>